body {
    margin: 0;
}

.nav {
    display: flex;
    justify-content: flex-end;
    background-color: #1e313e;
    padding: 10px;
}

.item {
    color: #efd3a2;
    padding: 20px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

.section-header {
    display: flex;
    justify-content:center;
}

.heading {
    text-transform: uppercase;
    color:  #1e313e;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
}

.section-about {
    display: flex;
    justify-content: space-around;
    background-color: #1e313e;
    padding: 60px;
}

.about-us {
    align-self: center;
    padding: 10px;
    color: #ffffff;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
}

.wrapper {
    display: flex;
    background-color: #1e313e;
    justify-content: space-around;
    font-family: "Montserrat", sans-serif;
    padding: 80px;
}

.reason-blook {
    display: flex;
    color: #ffffff;
    padding: 30px;
    font-size: 16px;
}

.number {
    font-size: 70px;
    background-color: #bb8a5e;
    border-radius: 50px;
    padding: 20px;
    color: #1e313e;
    margin: 40px;
}

.serviced {
    display: flex;
    justify-content: center;
    background-color: #1e313e;
    padding: 60px;
}

.section-price {
    display: flex;
    flex-direction: column;
    background-color: #1e313e;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

.price {
    margin: 0 auto;
    padding: 10px;
}

.map {
    display: flex;
    justify-content: center;
    background-color: #1e313e;
    padding: 50px;
}

.map-container {
    width: 100%;
    max-width: 500px;
}

.footer-container {
    background-color: #1e313e;
    padding: 5px;
}

.footer {
    color:#efd3a2 ;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

a {
    color:#efd3a2 ;
    text-decoration: none;
    font-size: 16px;
}

.btn {
    color:#efd3a2;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    background-color: #1e313e;
    border-left: 1px solid #efd3a2;
    border-top: 1px solid #efd3a2;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
}

@media all and (max-width: 800px) {
    .nav {
        display: flex;
        flex-direction: column;
    }
    .section-about {
        flex-wrap: wrap;
    }
    .wrapper {
        flex-direction: column;
        padding: 10px;
    }
    .reason-blook {
        padding: 10px;
        font-size: 14px;
    }
    .img-mob {
        width: 100%;
    }
}